.pagination-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mdb-pagination .page-item {
    margin: 0 3px;
  }

  .mdb-pagination .page-item .page-link {
    min-width: auto;
    padding: 5px;
  }



    


